body,
html {
    padding-right: 0 !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.sideBg {
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #80BFFF 100%) 0% 0% no-repeat padding-box;
  // background-color: #80BFFF;
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: auto;
  bottom: 25vh;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000E48;
  text-align: center;
}

ngb-carousel .carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  box-sizing: content-box;
  flex: 0 1 auto;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

ngb-carousel .carousel-indicators .active {
  opacity: 1;
}


@media screen and (max-width: 767.5px) {
  .mobile-hide {
    display: none;
  }
}

.newBtn {
  background: #2994FF 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  border-radius: 6px;
  opacity: 1;
  width: 100% !important;
}

.bgSec {
  background: #2994FF 0% 0% no-repeat padding-box;
}
