/* Navbar */


/* Navbar */

.dropdown-toggle::after {
    display: none;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

input:focus,
button:focus {
    outline: none;
}

.preview-list .preview-item .preview-thumbnail .preview-icon {
    padding: 6px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-list .preview-item .preview-thumbnail img,
.preview-list .preview-item .preview-thumbnail .preview-icon {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.preview-list .preview-item .preview-item-content {
    line-height: 1;
    padding-left: 15px;
}

.navbar {
    font-family: 'ubuntu-light';
    background: #fff;
    .navbar-brand {
        width: 110px;
    }
    .navbar-brand-wrapper {
        background: #fff;
        width: 260px;
        height: 70px;
        @media (max-width: 991px) {
            width: 55px;
        }
        .navbar-brand {
            color: lighten(color(gray-dark), 20%);
            font-size: 1.5rem;
            line-height: 48px;
            margin-right: 0;
            padding: .25rem 0;
            width: 100%;
            &:active,
            &:focus,
            &:hover {
                color: lighten(color(gray-dark), 10%);
            }
            img {
                width: calc(#{260px} - 120px);
                max-width: 100%;
                height: 28px;
                margin: auto;
                vertical-align: middle;
            }
            &.brand-logo-mini {
                display: none;
                img {
                    width: calc(#{70px} - 50px);
                    max-width: 100%;
                    height: 28px;
                    margin: auto;
                }
            }
        }
    }
    .navbar-menu-wrapper {
        color: #9c9fa6;
        padding-left: 24px;
        padding-right: 24px;
        width: calc(100% - #{260px});
        height: 70px;
        @media (max-width: 991px) {
            width: auto;
            padding-left: 15px;
            padding-right: 15px;
        }
        .navbar-toggler {
            border: 0;
            color: inherit;
            height: 70px;
            @include border-radius(0px);
            padding-left: 5px;
            padding-right: 20px;
            &:not(.navbar-toggler-right) {
                font-size: 1.5rem;
                @media (max-width: 991px) {
                    display: none;
                }
            }
            &.navbar-toggler-right {
                @media (max-width: 991px) {
                    padding-left: 15px;
                    padding-right: 11px;
                    border-right: none;
                }
            }
        }
        .search-field {
            .input-group {
                input {
                    font-size: .875rem;
                    padding: .5rem;
                    #input-placeholder {
                        font-size: .875rem;
                        color: #9c9fa6;
                        font-family: 'ubuntu-light', sans-serif;
                    }
                }
                i {
                    font-size: 17px;
                    margin-right: 0;
                    color: #9c9fa6;
                }
                .input-group-text {
                    background: transparent;
                }
            }
            .rtl & {
                @extend .ml-0;
                @extend .mr-4;
            }
        }
        .count-indicator {
            position: relative;
            .count-symbol,
            .count-number {
                position: absolute;
                border-radius: 100%;
            }
            .count-symbol {
                top: 22px;
                right: -4px;
                width: 15px;
                height: 15px;
                color: white;
                padding-left: 4.5px;
                padding-top: 0;
                font-size: 0.65rem;
            }
            .count-number {
                min-width: 14px;
                height: 14px;
                font-size: .5rem;
                color: #fff;
                bottom: 16px;
                right: -5px;
                line-height: 1;
                text-align: center;
            }
            &:after {
                display: none;
            }
        }
        .navbar-nav {
            flex-direction: row;
            align-items: center;
            .nav-item {
                .nav-link {
                    color: inherit;
                    font-size: .875rem;
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    @media (max-width: 767px) {
                        margin-left: .8rem;
                        margin-right: .8rem;
                    }
                    i {
                        font-size: 1.25rem;
                    }
                }
                &.dropdown {
                    .dropdown-toggle {
                        &:after {
                            color: theme-color(primary);
                            font-size: 1rem;
                        }
                    }
                    .dropdown-menu {
                        border: none;
                        @include border-radius(5px);
                        -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
                        -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
                        box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
                        &.navbar-dropdown {
                            position: absolute;
                            font-size: 0.9rem;
                            margin-top: 0;
                            right: 0;
                            .rtl & {
                                right: auto;
                                left: 0;
                            }
                            padding: 0;
                            .dropdown-item {
                                display: flex;
                                align-items: center;
                                margin-bottom: 0;
                                padding: 11px 13px;
                                cursor: pointer;
                                i {
                                    font-size: 17px;
                                }
                                .ellipsis {
                                    max-width: 200px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .rtl & {
                                    i {
                                        @extend .mr-0;
                                        margin-left: 10px;
                                    }
                                }
                            }
                            .dropdown-divider {
                                margin: 0;
                            }
                        }
                    }
                    @media (max-width: 991px) {
                        position: static;
                        .navbar-dropdown {
                            left: 20px;
                            right: 20px;
                            top: 70px;
                            width: calc(100% - 40px);
                        }
                    }
                }
                &.nav-settings {
                    padding-left: 20px;
                    padding-right: 5px;
                    .nav-link {
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
                &.nav-profile {
                    .nav-link {
                        @extend .d-flex;
                        display: flex;
                        .nav-profile-img {
                            position: relative;
                            width: 32px;
                            height: 32px;
                            img {
                                width: 32px;
                                height: 32px;
                                border-radius: 100%;
                            }
                            .availability-status {
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                border-radius: 100%;
                                border: 2px solid #ffffff;
                                bottom: 5px;
                                right: -5px;
                                &.online {
                                    background: theme-color(success);
                                }
                                &.offline {
                                    background: theme-color(danger);
                                }
                                &.busy {
                                    background: theme-color(warning);
                                }
                            }
                        }
                        .nav-profile-text {
                            margin-left: 1.25rem;
                            .rtl & {
                                margin-left: 0;
                                margin-right: 1.25rem;
                            }
                            p {
                                line-height: 1;
                            }
                            @media (max-width: 767px) {
                                display: none;
                            }
                        }
                        &.dropdown-toggle {
                            &:after {
                                line-height: 2;
                            }
                        }
                    }
                }
            }
            &.navbar-nav-right {
                @media (min-width: 992px) {
                    margin-left: auto;
                    .rtl & {
                        margin-left: 0;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}

@media (max-width:991px) {
    .navbar {
        flex-direction: row;
        .navbar-brand-wrapper {
            width: 75px;
            .navbar-brand {
                &.brand-logo {
                    display: none;
                }
                &.brand-logo-mini {
                    display: inline-block;
                }
            }
        }
    }
    .navbar-collapse {
        display: flex;
        margin-top: 0.5rem;
    }
}

@media (max-width:480px) {
    .navbar {
        .navbar-brand-wrapper {
            width: 55px;
            .brand-logo-mini {
                padding-top: 0px;
            }
        }
    }
}

:host-context(.sidebar-icon-only) {
    @media(min-width: 992px) {
        .navbar {
            .navbar-brand-wrapper {
                width: 70px;
                .brand-logo {
                    display: none;
                }
                .brand-logo-mini {
                    display: block;
                }
            }
            .navbar-menu-wrapper {
                width: calc(100% - #{70px});
            }
        }
    }
}
