<section style="height: 80vh;">
  <div class="flexRow flex-row flex ml-1 mr-1 row">
    <div class="form-inline m-1 mb-4" style="border-bottom: solid .35px #949393; width: 100%; min-width: 420px; overflow: scroll;">
      <span>
        <h2 class="titlepg mb-1">Debit card</h2>
        <p class="contTitle mb-2">Sed ut perspiciatis unde omnis iste natus error sit</p>
      </span>
      <span class="float-right" style="margin-left: auto;">
        <button class="addbtn btn btn-small mobile-round"> <i class="fnt mdi mdi-delete menu-icon"></i> <span class="mobile-hide ml-1">Delete card</span></button>
      </span>
    </div>
  </div>

  <div class="">
    <div class="flexRow flex-row flex ml-1 row">
      <span>
        <app-debit-card [debitCardInfo]="debitCard">
        </app-debit-card>
      </span>
    </div>
  </div>

  <div class="row mb-3" style="margin-top: -10px;">
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 mb-3" style="height: 40vh;">
      <div class="flexRow flex-row flex ml-1 mr-1 row">
        <div class="card secondCard mb-2" style="width: 100%; min-width: 460px;">
          <div class="card-body" style="overflow: hidden;">
            <span class="row flex" style="border-bottom: solid 0.3 #646363;" >
              <span style="margin-right: 10px; margin-left: 5px;">
                <h4 class="card-title mr-4 ml-4 mt-2" style="font-size: 17px; font-weight: 400;">Activity</h4>
              </span>
              <span style="margin-left: auto; margin-right: 90px;">
              <h5 class="rownew">
                <span class="form-inline" style="max-width: 50px; border: none">
                  <select class="ml-1 browser-default myselect border-0">
                    <option selected>All categories</option>
                    <option value="1">Completed</option>
                    <option value="2">Pending</option>
                  </select>
                </span>
              </h5>
              </span>
            </span>

            <div class="card mb-2" style="border: none; height: 25vh; overflow-x: scroll;">
              <span class="day3 ml-3">December 31</span>
                <div class="card-body">
                  <div *ngFor="let Brd of transactions; let i = index" class="mb-2">
                    <span class="form-inline w-100">
                      <span class="text-center rounded-circle shadow-4" style="padding-top: 7px; letter-spacing: 0.72px; color: #fff; width: 40px; height: 40px; margin-right: 10px; background-color: #8560A8;" alt="Avatar">
                        <i class="mdi mdi-home menu-icon"></i>
                      </span>
                      <span>
                        <div>
                          <span class="ttt">{{ Brd.title }}</span>
                          <br>
                          <span class="ttt2">{{ Brd.description }}</span>
                        </div>
                      </span>
                      <span class="float-right" style="max-height: 40px; margin-left: auto;">
                        <span class="amount  mr-1">
                          <span class="pos" [ngClass]="{ 'neg': (Brd.amount < 0) }">{{ Brd.amount }}</span>
                        </span>
                        <span style="font-size: 13px; font-weight: 500; color: #979797;">{{ Brd.currency }}</span>
                      </span>
                    </span>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 mb-3" style="height: 40vh;">
      <div class="flexRow flex-row flex ml-1 mr-1 row">
        <div class="card secondCard" style="width: 100%; min-width: 460px;">
          <div class="card-body" style="overflow: hidden;">
            <span class="row flex" style="border-bottom: solid 0.3 #646363;" >
              <span style="margin-right: 10px; margin-left: 5px;">
                <h4 class="card-title mr-4 ml-4 mt-2" style="font-size: 17px; font-weight: 400;">Card Info</h4>
              </span>
            </span>

            <div class="card mb-1" style="border: none; height: 28vh; overflow-x: scroll;">
              <span class="day3 ml-3"></span>
              <span class="card-body" style="margin-left: -7px;">
                <span class="form-inline mb-4 w-100">
                  <span class="day4">CARD NAME:</span>
                  <span class="float-right" style="max-height: 40px; margin-left: auto;">
                    <span style="font-size: 16px; font-weight: 600; text-align: right;">{{ debitCard?.cardHolder }}</span>
                  </span>
                </span>
                <span class="form-inline mb-4 w-100">
                  <span class="day4">CARD NO:</span>
                  <span class="float-right" style="max-height: 40px; margin-left: auto;">
                    <span style="font-size: 16px; font-weight: 600; text-align: right;">{{ debitCard?.cardNo }}</span>
                  </span>
                </span>
                <span class="form-inline mb-4 w-100">
                  <span class="day4">CVV:</span>
                  <span class="float-right" style="max-height: 40px; margin-left: auto;">
                    <span style="font-size: 16px; font-weight: 600; text-align: right;">{{ debitCard?.cvv }}</span>
                  </span>
                </span>
                <span class="form-inline mb-4 w-100">
                  <span class="day4">ZIPCODE:</span>
                  <span class="float-right" style="max-height: 40px; margin-left: auto;">
                    <span style="font-size: 16px; font-weight: 600; text-align: right;">{{ debitCard?.zipCode }}</span>
                  </span>
                </span>
                <span class="form-inline mb-4 w-100">
                  <span class="day4">ADDRESS:</span>
                  <span class="float-right" style="max-height: 40px; margin-left: auto;">
                    <span style="font-size: 16px; font-weight: 600; text-align: right;">{{ debitCard?.address }}</span>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
