body,
html {
    padding-right: 0 !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.tea {
  margin-top: 14px !important;
}

.titlepg {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.contTitle {
  font-size: 14px;
  letter-spacing: 0px;
  color: #525252;
  opacity: 1;
}

.amount {
  letter-spacing: 1.2px;
  font-weight: 500;
  .neg {
    color: #373737;
  }
}

.pos {
  color: #39B54A;
}

.ttt {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #515151;
}

.ttt2 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.72px;
  color: #999999;
  opacity: 1;
}

.myselect {
  font-weight: 300;
  font-size: 14px !important;
  letter-spacing: 0.84px !important;
  color: #808080;
  opacity: 1;
}

.day3 {
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #CCCCCC;
  opacity: 1;
}

.day4 {
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #999595;
  opacity: 1;
}

.addbtn {
  background: #FF6C6C;
  border-radius: 5px;
  opacity: 1;
  color: white;
}

@media screen and (max-width: 767.5px) {
  .mobile-hide {
    display: none;
  }

  .mobile-round {
    border-radius: 50%;
  }

  .fnt {
    font-size: 25px;
  }
}
