.firstCard {
  // height: 138px;
  opacity: 1;
  border-radius: 30px;
  min-width: 340px;
  border: none;
  background-color: #2994FF;
  padding: 10px;
}

.currency {
  font-size: 15px;
  font-weight: 400;
  color: #979797;
}

.logo {
  // background: transparent url('img/2000px-Mastercard-logo.svg.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.cardno {
  font-weight: 300;
  font-size: 17px;
  margin-top: 35px;
  font-style: Helvetica;
  letter-spacing: 1.44px;
  color: #979797;
  opacity: 1;
}

.amount {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2.04px;
}

.creditCard {
  cursor: pointer;
  min-width: 286.5px;
  border: none;
  background: transparent linear-gradient(0deg, #2C2C2C 0%, #373737 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 15px #0000000D;
  border-radius: 20px;
  opacity: 1;
  padding: 10px;
}

.fundbtn {
  width: 130px;
  font-size: small;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  color: #00217B;
  border-radius: 3px;
  align-self: flex-start;
  margin: 5px;
  opacity: 1;
}

.titl {
  font-size: 12px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.titl2 {
  font-size: 14px;
  letter-spacing: 0px;
  color: #979797;;
  opacity: 1;
}

.spaced {
  margin: auto;
  margin-top: 20px;
  .btn {
    padding: 10px 0px;
  }
}


.withdrawbtn {
  align-self: flex-end;
  width: 130px;
  margin: 5px;
  font-size: small;
  color: #FFFFFF;
  border: 0.5px solid #FFFFFF;
  border-radius: 3px;
  opacity: 1;
}

.secondCard {
  margin-top: 40px;
  box-shadow: 0px 15px 15px #0000000D;
  border-radius: 20px;
  opacity: 1;
  border: none;
}

.flexRow {
  overflow-x: hidden;
  overflow-x: auto;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}
