
.h-100 {
  // min-height: calc(91vh - #{70px});
  overflow-x: scroll;
}

.page-body-wrapper {
    min-height: calc(100vh - #{70px});
    // padding-top: 70px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    &.full-page-wrapper {
        width: 100%;
        min-height: 100vh;
        padding-top: 0;
    }
}

.main-panel {
    width: calc(100% - #{260px});
    min-height: calc(100vh - #{70px});
    display: flex;
    flex-direction: column;
    @media (max-width: 991px) {
        margin-left: 0;
        width: 100%;
    }
    &.main-panel-only {
        $sidebar-width-lg: 100px;
        transition: none;
    }
}

.content-wrapper {
    background: #F5F6FA;
    // padding: 2.05rem 2.05rem;
    width: 100%;
}

.container-scroller {
    overflow: hidden;
}

pre {
    background: color(gray-lighter);
    padding: 15px;
    font-size: 14px;
}

code {
    padding: 5px;
    color: theme-color(danger);
    font-family: 'ubuntu-light';
    font-size: 'ubuntu-light';
    border-radius: 4px;
}

.page-header {
    display: flex;
    justify-content: between;
    align-items: center;
    margin: 0 0 1.5rem 0;
    .breadcrumb {
        border: 0;
        margin-bottom: 0;
    }
}


.page-title {
    color: #000;
    font-size: 1.125rem;
    margin-bottom: 0;
    .page-title-icon {
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 4px;
        text-align: center;
        box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
        i {
            font-size: .9375rem;
            line-height: 36px;
        }
    }
}


.page-bg {
  padding-left: 75px !important;
}

.pad4 {
  padding-right: 0.3rem;
}

.sidebar-fixed {
    height: 200vh;
    z-index: 1050;
    background-color: #d8d0d0;
}

.menu-title2 {
    color: inherit;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    vertical-align: middle;
    font-size: 0.875rem;
}

.sidebar {
    align-items: center;
    white-space: nowrap;
    padding: 1.125rem 0 1.125rem 0;
    color: #3e4b5b;
    transition-duration: 0.45s;
    min-height: calc(100vh - 70px);
    background: #ffffff;
    font-family: "ubuntu-regular", sans-serif;
    padding: 0;
    width: 260px;
    z-index: 11;
    height: 100%;
    font-size: 1.125rem;
    line-height: 1;
    .smallh {
        font-size: 0.875rem;
        font-weight: 500;
    }
    .btn {
        font-size: 0.875rem;
        line-height: 1;
        font-family: 'ubuntu-bold';
        margin-right: 3px;
        i {
            font-size: 1rem;
        }
        &.btn-rounded {
          border-radius: 50px;
        }
        &.btn-fw {
            min-width: auto;
        }
        &.btn-sm {
            font-size: 0.675rem!important;
            font-weight: 500;
        }
        &.btn-lg {
            font-size: 0.875rem;
        }
        &.btn-xs {
            padding: .25rem .75rem;
            font-size: 0.625rem;
        }
        /* Buttons with only icons */
        &.btn-icon {
            width: 42px;
            height: 42px;
            padding: 0;
        }
        /* Buttons with icon and text */
        &.btn-icon-text {
            .btn-icon-prepend {
                margin-right: .5rem;
            }
            .btn-icon-append {
                margin-left: .5rem;
            }
        }
        &.btn-social-icon {
            width: 50px;
            height: 50px;
            padding: 0;
        }
    }
    .nav {
        overflow: hidden;
        flex-wrap: nowrap;
        flex-direction: column;
        &:not(.sub-menu) {
            padding-bottom: 60px;
        }
        .nav-item {
            padding: 0 2.25rem;
            transition-duration: 0.25s;
            // transition-property: background;
            // -webkit-transition-property: background;
            .collapse {
                z-index: 999;
            }
            .nav-link {
                display: flex;
                align-items: center;
                white-space: nowrap;
                padding: 1.125rem 0 1.125rem 0;
                color: #3e4b5b;
                transition-duration: 0.45s;
                transition-property: color;
                -webkit-transition-property: color;
                cursor: pointer;
                i {
                    color: inherit;
                    &.menu-icon {
                        font-size: 1.125rem;
                        line-height: 1;
                        // margin-left: auto;
                        margin-right: 10px;
                        .rtl & {
                            margin-right: 0;
                            margin-right: auto;
                        }
                        color: black;
                        &:before {
                            vertical-align: middle;
                        }
                    }
                    &.menu-arrow {
                        font: normal normal normal 24px/1 "Material Design Icons";
                        line-height: 1;
                        font-size: 1.125rem;
                        margin-left: auto;
                        .rtl & {
                            margin-left: 0;
                            margin-right: auto;
                        }
                        color: #9e9da0;
                        &:before {
                            content: "\f0141";
                            font-size: inherit;
                            color: inherit;
                        }
                        +.menu-icon {
                            margin-left: .25rem;
                            margin-bottom: .25rem;
                            .rtl & {
                                margin-left: 0;
                                margin-right: .25rem;
                            }
                        }
                    }
                }
                .menu-title {
                    color: inherit;
                    display: inline-block;
                    font-size: .875rem;
                    line-height: 1;
                    vertical-align: middle;
                    font-size: 0.875rem;
                }
                .badge {
                    margin-right: auto;
                    margin-left: 1rem;
                }
                &[aria-expanded="true"] {
                    .menu-arrow {
                        &:before {
                            content: "\F0140";
                        }
                    }
                }
            }
            &.active {
                background: #2994FF;
                .nav-link {
                    .menu-title {
                        color: white;
                        font-family: 'ubuntu-medium';
                    }
                    i {
                        color: theme-color(primary);
                    }
                }
            }
            &:hover {
                background: darken(white, 1%);
            }
            &.nav-profile {
                .nav-link {
                    height: auto;
                    line-height: 1;
                    border-top: 0;
                    padding: 1.25rem 0;
                    .nav-profile-image {
                        width: 44px;
                        height: 44px;
                        img {
                            width: 44px;
                            height: 44px;
                            border-radius: 100%;
                        }
                    }
                    .nav-profile-text {
                        display: flex;
                        flex-direction: column;
                        margin-left: 1rem;
                        font-size: 0.875rem;
                        .rtl & {
                            margin-left: auto;
                            margin-right: 1rem;
                        }
                    }
                    .nav-profile-badge {
                        font-size: 1.125rem;
                        margin-left: auto;
                        .rtl & {
                            margin-left: 0;
                            margin-right: auto;
                        }
                    }
                }
            }
            &.sidebar-actions {
                margin-top: 1rem;
                .nav-link {
                    border-top: 0;
                    display: block;
                    height: auto;
                }
                &:hover {
                    background: initial;
                    .nav-link {
                        color: initial;
                    }
                }
            }
        }
        &:not(.sub-menu) {
            >.nav-item {
                &:hover {
                    &:not(.nav-category):not(.nav-profile) {
                        >.nav-link {
                            color: darken(#3e4b5b, 10%);
                        }
                    }
                }
            }
        }
        &.sub-menu {
            margin-bottom: 20px;
            margin-top: 0;
            list-style: none;
            .nav-item {
                padding: 0;
                .nav-link {
                    color: #888;
                    padding: .75rem 2rem .75rem 2rem;
                    position: relative;
                    font-size: .75rem 2rem .75rem 2rem;
                    line-height: 1;
                    height: auto;
                    border-top: 0;
                    &:before {
                        content: "\F054";
                        font-family: "Material Design Icons";
                        display: block;
                        position: absolute;
                        left: 0px;
                        .rtl & {
                            left: auto;
                            right: 0;
                        }
                        top:50%;
                        color: #888;
                        font-size: .75rem;
                    }
                    &.active {
                        color: white;
                        background: transparent;
                    }
                    &:hover {
                        color: darken(#888, 20%);
                    }
                }
                &:hover {
                    background: transparent;
                }
            }
        }
    }
}

// Sidebar icon only layout start
:host-context(.sidebar-icon-only) {
    @media(min-width: 992px) {
        .sidebar {
            width: 70px;
            .nav {
                overflow: visible;
                margin-left: 0;
                margin-right: 0;
                .nav-item {
                    padding: 0 1rem;
                    position: relative;
                    .nav-link {
                        display: block;
                        // padding-left: .5rem;
                        // padding-right: .5rem;
                        text-align: center;
                        position: static;
                        .menu-title,
                        .badge,
                        .menu-sub-title {
                            display: none;
                        }
                        .menu-title {
                            border-radius: 0 5px 5px 0px;
                            background: darken(white, 1%);
                        }
                        i {
                            &.menu-icon {
                                margin-right: 0;
                                margin-left: 0;
                                margin-bottom: 0;
                            }
                            &.menu-arrow {
                                display: none;
                            }
                        }
                        &[aria-expanded] {
                            .menu-title {
                              border-radius: 0 5px 0 0px;
                            }
                        }
                    }
                    .collapse {
                        display: none;
                    }
                    &.hover-open {
                        .nav-link {
                            .menu-title {
                                display: flex;
                                align-items: center;
                                background: darken(white, 1%);
                                padding: 0.5rem 1.4rem;
                                left: 70px;
                                position: absolute;
                                text-align: left;
                                top: 0;
                                bottom: 0;
                                width: 190px;
                                z-index: 1;
                                line-height: 1.8;
                                -webkit-box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);
                                box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);
                                &:after {
                                    display: none;
                                }
                            }
                        }
                        .collapse,
                        .collapsing {
                            display: block;
                            background: white;
                            border-radius: 0 0 5px 0;
                            position: absolute;
                            left: 70px;
                            width: 190;
                            -webkit-box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
                            box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
                        }
                    }
                    &.nav-profile {
                        padding: 0 .3rem;
                        .nav-link {
                            .nav-profile-text {
                                display: none;
                            }
                            .nav-profile-badge {
                                display: none;
                            }
                        }
                    }
                }
                &:not(.sub-menu) {
                    .nav-item {
                        &.active {
                            border-radius: 0;
                        }
                        &:hover {
                            .nav-link {
                                border-radius: 0;
                            }
                        }
                    }
                }
                &.sub-menu {
                    padding: 0 0 0 1.5rem;
                    .nav-item {
                        .nav-link {
                            text-align: left;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
}

// Sidebar icon only layout end

/* style for off-canvas menu*/

@media screen and (max-width: 991px) {
    .sidebar-offcanvas {
        position: fixed;
        max-height: calc(100vh - #{70px});
        top: 70px;
        bottom: 0;
        overflow: auto;
        right: -260px;
        -webkit-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        &.active {
            right: 0;
        }
    }
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

html, body {
  font-size: 16px;
  font-family: "ProximaNova", sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
  line-height: 1.2;
  background: #ffffff;
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0;
  color: #000;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.45rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 0.9rem;
}

p {
  font-size: 0.8rem;
  line-height: 1.5;
}

a, a:hover {
  text-decoration: none;
}

input {
  outline: none;
  box-shadow: none;
}

.btn {
  padding: 12px 50px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}

.btn-sm {
  padding: 7px 18px;
  font-size: 11px;
}

.btn-primary {
  color: #fff !important;
}

.btn-text {
  color: #0091FF !important;
}

.btn-details{
  border-radius: 37px;
  border-color: #9AA4AF;
  color: #9AA4AF;
}

.btn-details:hover{
  color: #0091FF;
  background-color: #fff;
  border-color: #0091FF;
}

.form-control {
  height: 40px;
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

textarea.form-control {
  height: auto;
}


label {
  font-size: 12px;
  color: #969696;
}

.rm-section {
  padding: 60px 40px;
}

.rm-section .rm-section-heading {
  color: #001037;
  margin-bottom: 40px;
  text-align: center;
}

.grey {
  background: #D8D8D814;
}

.w-80 {
  width: 85%;
  margin: auto;
}

/*** ============== HOMEPAGE ================ ***/
main {
  position: relative;
}

.rm-navbar {
  position: absolute;
  height: 80px;
  padding: 20px 0;
  background: transparent;
  z-index: 2;
  width: 100%;
}

.rm-navbar .container {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rm-navbar .rm-nav-links {
  margin-bottom: 0;
  list-style: none;
  display: inline-flex;
}

.rm-nav-links li {
  padding: 7px 25px;
}

.rm-nav-links li a {
  color: #fff;
  font-size: 0.9rem;
}

.rm-nav-links li.rm-green-btn {
  background: #0C3036;
  border-radius: 3px;
}

.rm-nav-links li.rm-green-btn a {
  color: #00E531;
}

.rm-navbar-inverse .rm-nav-links li a {
  color: #575757;
}

.rm-navbar-inverse .rm-nav-links li.rm-green-btn {
  background: #00E53116;
}

.rm-navbar-inverse .rm-nav-links li.rm-green-btn a {
  color: #00E531;
}

.rm-mobile--menu__toggler {
  position: absolute;
  right: 7%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  display: none;
}

.rm-mobile--menu__toggler:hover {
  opacity: .7;
}

.rm-mobile--menu__toggler span {
  background: #fff;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
  z-index: 5;
}

.rm-navbar-inverse .rm-mobile--menu__toggler span {
  background: #0091FF;
}

.rm-mobile--menu__toggler span:nth-of-type(2) {
  top: 10px;
}

.rm-mobile--menu__toggler span:nth-of-type(3) {
  top: 20px;
}

.rm-mobile--menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 1000;
}

.rm-mobile--menu .rm-mobile--menu__toggler {
  opacity: 0;
}

.rm-mobile--menu.open .rm-mobile--menu__toggler {
  opacity: 1;
  transition: 0.3s ease-in;
}

.rm-mobile--menu__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px;
  height: 100%;
}

.rm-mobile--menu:after {
  content: '';
  background: #fff;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .35s ease;
}


.rm-mobile--menu.open {
  visibility: visible;
  height: 100%;
}

.rm-mobile--menu.open:after {
  right: 0;
}

.rm-mobile--menu.open .rm-mobile--menu__toggler .top {
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: #0091FF;
}

.rm-mobile--menu.open .rm-mobile--menu__toggler .middle {
  opacity: 0;
  background: #fff;
}

.rm-mobile--menu.open .rm-mobile--menu__toggler .bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #0091FF;
}

.rm-mobile--menu__links {
  list-style: none;
  padding: 0;
  position: relative;
  z-index: 3;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%
}

.rm-mobile--menu__links li {
  display: block;
  position: relative;
  opacity: 0;
  margin-bottom: 30px;
  cursor: pointer;
}

.rm-mobile--menu__links li a {
  color: #000 !important;
  font-size: 1.5rem;
  font-weight: 400;
}

.rm-mobile--menu__links li.active a {
  padding-bottom: 10px;
  border-bottom: 2px solid #0091FF;
  font-weight: 600;
}

.rm-mobile--menu__links li a:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.rm-mobile--menu.open .rm-mobile--menu__links li {
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}

.rm-mobile--menu.open .rm-mobile--menu__links li:nth-of-type(2) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.rm-mobile--menu.open .rm-mobile--menu__links li:nth-of-type(3) {
  -webkit-animation-delay: .55s;
  animation-delay: .55s;
}

.rm-mobile--menu.open .rm-mobile--menu__links li:nth-of-type(4) {
  -webkit-animation-delay: .65s;
  animation-delay: .65s;
}

.rm-mobile--menu.open .rm-mobile--menu__links li:nth-of-type(5) {
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
}

.rm-mobile--menu.open .rm-mobile--menu__links li:nth-of-type(6) {
  -webkit-animation-delay: .85s;
  animation-delay: .85s;
}

.rm-mobile--menu.open .rm-mobile--menu__links li:nth-of-type(7) {
  -webkit-animation-delay: .95s;
  animation-delay: .95s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.rm-header {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  padding: 180px 0;
}

.rm-header.rm-header-inverse {
  height: 470px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rm-header h1 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  font-family: "ProximaNova", sans-serif;
  line-height: 1.1;
  margin-bottom: 15px;
}

.rm-header-inverse h1 {
  color: #000D31;
}

.rm-header p {
  color: #CDD2E8;
  font-size: 0.9rem;
  line-height: 1.7;
  text-align: center;
}

.rm-header-inverse p {
  color: #575757;
}

.rm-header .btn {
  text-transform: uppercase;
}


.rm-section.rm-activity {
  background: #fff;
  position: relative;
}

.rm-header-base-image {
  position: absolute;
  top: -280px;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 43px rgba(0, 38, 67, 0.165647);
}

.rm-activity .container {
  position: relative;
  top: 340px;
  height: 640px;
}

.rm-activity .rm-mirror-illustration {
  top: 150px;
}

.rm-activity h1 {
  color: #001037;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.1;
}

.rm-activity-items {
  display: flex;
  justify-content: center;
}

.rm-activity-items div {
  text-align: center;
}

.rm-activity-items div:first-child {
  border-right: 1px solid #0064FF70;
  padding-right: 15px;
  margin-right: 40px;
}

.rm-activity-items div img {
  height: 180px;
}

.rm-activity-items div h5 {
  color: #001037;
  opacity: 0.64;
  margin-top: -10px;
  margin-bottom: 10px;
}

.rm-feature img.icon {
  height: 45px;
  margin-bottom: 15px;
}

.rm-feature h1 {
  margin-bottom: 10px !important;
  text-align: left !important;
}

.rm-feature p {
  font-size: 0.9rem;
  margin-bottom: 30px;
  color: #8E8E8E;
}

.rm-sub-feature {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.rm-sub-feature img {
  width: 10%;
  margin-right: 10px;
}

.rm-sub-feature h6 {
  margin-bottom: 10px;
}

.rm-sub-feature p {
  font-size: 0.8rem;
  margin-bottom: 0.9rem;
}

.rm-feature-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.rm-process {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 40px;
}

.blue {
  background: #0091FF;
}

.purple {
  background: #903EC8;
}

.blue-two {
  background: #0064FF;
}

.green {
  background: #03C22C;
}

.rm-process img {
  height: 50px;
  margin-bottom: 20px;
}

.rm-process h3 {
  color: #fff;
  margin-bottom: 10px;
}

.rm-process p {
  color: #fff;
  font-size: 13px;
}

.rm-our-clients {
  position: relative;
}

.rm-our-clients .rm-mirror-illustration {
  bottom: 0;
  top: unset;
}

.rm-our-clients .rm-clients-logos {
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.rm-clients-logos div {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 30%;
  padding: 7px;
  margin: auto auto 15px;
  box-shadow: 0 2px 43px rgba(0, 0, 0, 0.0647673);
  border-right: 8px;
}

.rm-clients-slider {
  padding: 80px 20px;
  flex-direction: column;
}

.rm-clients-slider h1 {
  font-size: 1.75rem;
}

.rm-clients-slider .carousel-inner {
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
  background: #fff;
}

.rm-clients-slider .carousel-item {
  padding: 50px;
  height: 100%;
  text-align: center;
}

.rm-clients-slider .carousel-item > *:not(img) {
  width: 70%;
  margin: auto;
}
.rm-clients-slider .carousel-item h5 {
  margin-bottom: 15px;
  color: #001037;
}

.rm-clients-slider .carousel-item p {
  font-size: 0.85rem;
  color: #8E8E8E;
}

.rm-clients-slider .carousel-control-prev,
.rm-clients-slider .carousel-control-next {
  height: 35px;
  width: 35px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-self: center;
  background: #fff;
  box-shadow: 0 2px 6px rgba(183, 183, 183, 0.33001);
}

.rm-clients-slider .carousel-control-prev {
  left: -50px;
  border: 1px solid #0091FF;
}

.rm-clients-slider .carousel-control-next {
  background: #0091FF;
  right: -50px;
}

.rm-cta {
  background: linear-gradient(185.51deg, #00287C 38.53%, #000D31 139.1%, #000D30 139.1%);
}

.rm-cta.rm-cta-inverse {
  background: #0091FF20
}

.rm-cta h1 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 15px;
}

.rm-cta.rm-cta-inverse h1 {
  color: #112F6E;
}

.rm-cta p {
  color: #CDD2E8;
  font-size: 0.9rem;
  line-height: 1.7;
  text-align: center;
}

.rm-cta.rm-cta-inverse p {
  color: #474747;
}

.rm-cta .btn {
  text-transform: uppercase;
}

.rm-footer {
  padding: 80px 0;
  background: #fff;
}

.rm-footer img {
  margin-bottom: 20px;
}

.rm-footer p {
  color: #8E8E8E;
  font-size: 0.9rem;
}

.rm-footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rm-footer-links li {
  padding: 10px 12px;
}

.rm-footer-links li a {
  color: #8E8E8E;
  font-size: 0.9rem;
}

.rm-footer-links li a:hover {
  color: #0091FF;
}

.rm-footer h5 {
  margin-bottom: 15px;
  color: #001037;
}

.rm-footer input {
  height: 45px;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.121859);
  font-size: 1.05rem;
  font-weight: 600;
}

.rm-footer input[placeholder] {
  font-weight: normal;
  opacity: 0.6;
}

.rm-footer input:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.121859);
}

.rm-footer .btn {
  padding: 12px 20px;
}

.rm-footer .btn img {
  margin-bottom: 0;
}


/*** ============== Pricing ================ ***/
.rm-header-pricing {
  height: 450px;
}

.rm-pricing {
  position: relative;
  top: -100px;
  width: 75%;
  margin: auto;
}

.rm-pricing .rm-pricing-type {
  background: #fff;
  border-radius: 8px;
  padding: 30px 40px;
  box-shadow: 0 2px 37px rgba(0, 0, 0, 0.173268);
}

.rm-pricing-type img {
  margin-bottom: 15px;
}

.rm-pricing-type h3 {
  color: #001037;
  margin-bottom: 15px;
}

.rm-pricing-type p {
  color: #8E8E8E;
  font-size: 0.8rem;
}

.rm-pricing-type p.rm-price {
  font-size: 1.3rem;
}

.rm-pricing-type .rm-plan-features {
  padding: 20px 0;
  border-top: 1px solid #97979745;
  border-bottom: 1px solid #97979745;
  margin: 10px 0;
  list-style: none;
}

.rm-pricing-type .rm-plan-features li {
  color: #8E8E8E;
  padding: 10px 0;
  font-size: 0.9rem;
}


/*** ============== FAQS ================ ***/
.rm-faqs {
  background: #D8D8D825;
}

.rm-accordion {
  padding: 30px 20px;
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  background: #FFFFFF;
  border: 1px solid rgba(183, 183, 183, 0.4);
  box-sizing: border-box;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  position: relative;
  margin-bottom: 25px;
}

.rm-accordion a {
  position: absolute;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(100% - 20px);
  font-size: 1rem;
  transition: font-size 0.2s ease-out;
}

.rm-accordion a:hover,
.rm-accordion a:hover::after {
  cursor: pointer;
}

.rm-accordion a.active {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #9AA4AF25;
  transition: all 0.2s ease-in;
}

.rm-accordion a::after {
  content: "\25BE";
  position: absolute;
  float: right;
  right: 20px;
  font-size: 1.3rem;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid #BABABA;
  color: #BABABA;
  height: 30px;
  width: 30px;
  background: transparent;
}

.rm-accordion a.active::after {
  content: '\25B4';
  background: #468DE1;
  border: 1px solid #468DE1;
  top: 25%;
  color: #fff;
}

.rm-accordion .content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
  color: #9AA4AF;
}

.rm-accordion .content p {
  font-size: 0.9rem;
}

.rm-accordion .content p:last-child {
  margin-bottom: 0;
}

.rm-accordion .content.active {
  padding-top: 35px;
  opacity: 1;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

/*** ============== CONTACT ================ ***/
.rm-contact-card {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 70px;
}

.rm-contact-form {
  border: 1px solid rgba(154, 164, 175, 0.2);
  border-radius: 5px;
  padding: 30px;
}

.rm-contact-info {
  padding: 40px 50px;
  background: #0091FF;
  border: 1px solid rgba(183, 183, 183, 0.4);
  box-sizing: border-box;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.rm-contact-info h6 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 0.85rem;
  opacity: 0.7;
}

.rm-contact-info h6 + div {
  border: 1px solid rgba(255, 255, 255, 0.520487);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 70px;
}

.rm-contact-info h6 + div.purple {
  background: #9F00FF;
  border-color: #9F00FF;
}

.rm-contact-info h6 + div img {
  margin-right: 12px;
  height: 20px;
}

.rm-contact-info h6 + div p {
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 0;
  line-height: 1.2;
}

.rm-text-primary{
  color: #0091FF;
}

.rm-text-dark{
  color: #001037;
}

.rm-text-light{
  color: #8E8E8E;
}

.rm-text-success{
  color: #00E531;
}

.card{
  border: none;
}

.font-12{
  font-size: 12px;
}

.font-9{
  font-size: 9px;
}

.font-18{
  font-size: 18px;
}




/*** ============== ONBOARDING ================ ***/

.rm-login {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.rm-login .rm-logo {
  margin-bottom: 50px;
}

.rm-login .rm-logo img {
  height: 25px;
}

.rm-background-left,
.rm-background-right {
  min-height: 100vh;
  padding: 50px;
}

.rm-background-left {
  background: #ffffff;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.rm-login label {
  color: #969696;
  font-size: 12px;
}

.rm-login .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #E6E6E6 ;
  box-shadow: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.rm-login .form-control:focus {
  border-color: #0091FF;
}

.rm-login .forgot-password {
  color: #292828;
  font-size: 12px;
}

.custom-control-label::before,
.custom-control-label::after {
  top: 0;
}

.rm-background-right {
  position: relative;
  width: 45%;
  background: radial-gradient(96.84% 96.84% at 49.27% 74.79%, #00287C 0%, #000D31 100%, #000D30 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rm-background-right-illustration {
  position: absolute;
  top: -120px;
  right: 0;
}

.rm-background-right .carousel {
  width: 75%;
  color: #fff;
}

.rm-background-right .carousel img {
  height: 35px;
  margin-bottom: 10px;
}

.rm-background-right .carousel h1 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}

.rm-background-right .carousel p {
  font-size: 13px;
}

.rm-background-right .carousel .carousel-indicators {
  margin: 0;
  left: 0;
  bottom: -20px;
  right: unset;
}

.rm-background-right .carousel-indicators li {
  height: 5px;
}

.rm-signup {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rm-signup .rm-logo {
  position: absolute;
  top: 50px;
  left: 80px;
  z-index: 1;
}

.rm-signup .rm-logo-mobile {
  display: none;
  text-align: center;
  margin-bottom: 30px;
  z-index: 1;
}

.rm-mirror-illustration {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.rm-mirror-illustration.left {
  left: 0;
}

.rm-mirror-illustration.right {
  right: 0;
}

.rm-signup .rm-signup-form h1 {
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.rm-signup .rm-signup-form p.small {
  color: #A2A2A2;
  text-align: center;
}

.rm-signup .rm-signup-form .user-type .form-control {
  height: 100%;
}

.rm-step,
.form-hide {
  visibility: hidden;
  width: 100%;
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px;
}

.show-step,
.notification-pop {
  height: 100%;
  display: block;
  visibility: visible !important;
  -webkit-transition-delay: 1300ms !important;
  -moz-transition-delay: 1300ms !important;
  -o-transition-delay: 1300ms !important;
  transition-delay: 1300ms !important;
  opacity: 1;
  -webkit-transition: opacity 800ms cubic-bezier(0.455, 0.03, 0, 1) !important;
  -moz-transition: opacity 800ms cubic-bezier(0.455, 0.03, 0, 1) !important;
  -o-transition: opacity 800ms cubic-bezier(0.455, 0.03, 0, 1) !important;
  transition: opacity 800ms cubic-bezier(0.455, 0.03, 0, 1) !important;
}

.user-type {
  width: 62%;
  margin: auto;
}

.rm-user-type-radio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.rm-user-type-radio > div {
  width: 38%;
  height: 180px;
  margin: auto;
  position: relative;
}

.rm-user-type-radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  height: 100%;
}

.rm-user-type-radio .custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="radio"]:checked + .custom-radio {
  border-color: #0091FF;
  transition: 0.3s ease-in;
}

.rm-user-type-radio .custom-radio p {
  margin-bottom: 15px;
  color: #BBBBBB;
  font-size: 14px;
}

input[type="radio"]:checked + .custom-radio p {
  color: #000;
  font-weight: 500;
}

.rm-user-type-radio .custom-radio div {
  height: 24px;
  width: 24px;
  background: #F1F1F1;
  border-radius: 100px;
}

input[type="radio"]:checked + .custom-radio div {
  background: #0091FF;
  transition: 0.3s ease-in;
}

input[type="radio"]:checked + .custom-radio svg {
  stroke: #0091FF;
}

.rm-signup-form .card {
  width: 80%;
  margin: auto;
  padding: 20px 40px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.115931);
  border-radius: 4px;
}

.rm-signup-form .card.profile {
  width: 90%;
}


/*** ============== DASHBOARD ================ ***/

.rm-sidenav{
  width: 13rem;
  height: 100vh;
  flex-basis: 15rem;
  flex-shrink: 0;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  z-index: 1038;
  -webkit-transform: translateX(-15rem);
  transform: translateX(-15rem);
  overflow-y: scroll;
}

.rm-sidenav.toggled {
  -webkit-transform: translateX(0);
   transform: translateX(0);
}

.sidenav-toggle img{
  width: 30px;
}

@media (min-width: 992px){
    .rm-sidenav {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

.rm-sidenav-logo{
  height: 30px;
}

.rm-sidenav-logo img{
  width: 140px;
}

.rm-main-content{
  padding-left: 13rem;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  min-width: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-height: 100vh;
  margin-left: -13rem;
  background: #F5F6FA;
}



@media (min-width: 992px){
  .rm-main-content {
      margin-left: 0;
      -webkit-transition: margin 0.15s ease-in-out;
      transition: margin 0.15s ease-in-out;
  }
}

.rm-dashboard-navbar{
  min-height: 70px;
  background: #ffffff;
  padding: .5rem 4rem;
}

.rm-mobile-nav-logo{
  display: none;
}

.rm-dashboard-main-inner{
  width: 50%;
}

.rm-dashboard-main-text{
  padding: 0 2rem;
}

.sidenav-toggle{
  display: none;
}

.rm-dashboard-content{
  padding: 0.5rem 2rem;
}

@media (max-width: 992px){
  h1 {
      font-size: 1.5rem;
  }
  .rm-navbar-form{
        display: none;
    }
    .rm-dashboard-navbar{
      min-height: 70px;
      background: #ffffff;
      padding: .5rem 1rem;
    }
    .rm-mobile-nav-logo{
      display: block;
    }
    .rm-mobile-nav-logo img{
      width: 120px;
    }
    .rm-navbar-username{
      display: none;
    }
    .rm-dashboard-main-inner{
      width: 100%;
    }

    .rm-dashboard-main-text{
      padding: 0 1rem;
    }
    .sidenav-toggle{
      display: block;
    }
    .rm-dashboard-content{
      padding: 0.5rem 1rem;
    }
}

.rm-navbar-icon{
  height: 20px;
}

.rm-dashboard .btn-primary{
    padding: 10px 30px;
}

.rm-navbar-search{
  background: #F8F9FC;
  border-radius: 20px;
  height: 40px;
  min-width: 350px;
  font-size: 14px;
  padding-left: 50px;
}

.rm-navbar-search-icon{
  left: 15px;
}

.rm-navbar-username{
  font-size: 14px;
  color: 001037;
  font-weight: bold;
}

.rm-navbar-divider{
  color: #979797;
}

.rm-sidebar-item{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  position: relative;
  border-bottom: 0.5px solid #979797;
  -webkit-transition: -webkit-color 0.5s ease-in-out;
  transition: -webkit-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, -webkit-color 0.5s ease-in-out;
}

.rm-sidebar-icon{
  font-size: 0.9rem;
  color: #a7aeb8;
}

.rm-sidebar-item .rm-sidebar-item-text{
  font-size: 13px;
  color: #ffffff;
}

.rm-sidebar-item:hover .rm-sidebar-item-text , .rm-sidebar-item:focus .rm-sidebar-item-text, .rm-sidebar-item:hover .rm-sidebar-item-text.logout {
  color: #0091FF;
}

.rm-sidebar-item.active .rm-sidebar-item-text{
  color: #0091FF;
}

.rm-sidebar-item.logout .rm-sidebar-icon svg path{
  fill: #9AA4AF;
}

.rm-sidebar-icon svg path{
  fill: #fff;
}

.rm-sidebar-item:hover .rm-sidebar-icon svg path, .rm-sidebar-item:focus .rm-sidebar-icon svg path {
  fill: #0091FF;
}

.rm-sidebar-item.active .rm-sidebar-icon svg path{
  fill: #0091FF;
}

.rm-sidebar-item.logout{
  background: #ffffff;
}

.rm-sidebar-item .rm-sidebar-item-text.logout{
  color: #9AA4AF;
}

.rm-worker-card-right{
    border-right: solid 1px #f2f2f2;
    padding: 2rem;
}

.rm-worker-card-left{
  padding: 2rem;
}

.rm-dashboard-tags-icons{
  height: 80px;
}

@media (max-width: 992px){
  .rm-worker-card-right{
        border-right: none;
        padding: 1rem;
    }

    .rm-worker-card-left{
      padding: 1rem;
    }
}

.rm-dashboard-table{
    font-size: 12px;
    white-space: nowrap;
}

.rm-dashboard-table th{
  color: #9AA4AF;
  font-weight: 300;
}
.logout-section{
  /*position: absolute;*/
    width: 100%;
    /*bottom: 0;*/
}
.rm-dashboard-table td {
  border: 10px solid white;
  border-right: 0;
  border-left: 0;
  background: #FCFCFC;
}

.rm-dashboard-table tr{
  line-height: 60px;
}

.rm-guarantors-btn{
  border-radius: 50px;
  padding: 12px 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #0064FF;
  border: 1px solid #0064FF;
  border-radius: 0;
}

.nav-pills .nav-link {
  border-radius: .25rem;
  font-size: 14px;
  background-color: #F2F2F2;
  color: #9B9B9B;
  border: 1px solid #E8E8E8;
  border-radius: 0;
}

.badge-success-outline{
  border: 1px solid #CBF5D6;
  padding: 0.5rem 1rem;
  color: #3BB75E;
  background: #F0FFF4;
}

.badge-danger-outline{
  background: #FFEFEA;
  border: 1px solid #FFD0B6;
  color: #FF9459;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.rm-dashboard-employment-img{
  height: 67px;
  width: 67px;
}

.rm-dashboard-hr{
  background: #f2f2f2;
}

.rm-dashboard-payment-details{
  background: #0091FF;
  border-radius: 7px;
  color: #fff;
  padding: 1rem;
  font-size: 0.8rem;
}

.rm-dashboard-payment-details h2, .rm-dashboard-payment-details h6{
  color: #fff;
}

.rm-dashboard-card-details, .rm-dashboard-payment-details{
  min-height: 80px;
}

.rm-dashboard-card-details{
  background: #fff;
  border-radius: 7px;
  padding: 1rem;
  font-size: 0.8rem;
}

.rm-dashboard-card-details-item{
  border-right: 1px solid #979797;
    padding-right: 20px;
}

.rm-form-search .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #E6E6E6;
  box-shadow: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  background: #F5F6FA;
  padding-left: 40px;
  min-width: 280px;
}

.rm-form-search .form-control:focus {
  border-color: #0091FF;
}
.rm-form-search .search-icon {
  left: 7px;
  bottom: 7px;
}

@media (max-width: 992px){
  .rm-form-search{
    display: none !important;
  }
}

.rm-dashboard-settings-img{
  height: 135px;
  width: 135px;
  position: relative;
}

.rm-dashboard-settings-camera-upload{
  left: 100px;
  bottom: 5px;
}

.rm-btn-review{
  background: #fff;
  padding: 1em 2em;
  border-radius: 50px;
}

.rm-dashboard-rating-details{
  background: #0064FF;
}

.rm-dashboard-rating-details h5{
  color: #fff;
}

.rm-dashboard-rating-card{
  min-height: 180px;
}

.rm-rating-table-img{
  height: 45px;
  width: 45px;
}

.rm-rating-input {
  box-shadow: 0px 15px 30px rgba(16, 27, 79, 0.15);
  border: none;
  max-height: 50px;
  padding-right: 100px;
  background: #FFFFFF;
  border-radius: 10px;
}

.rm-rating-icons {
  right: 2px;
  top: 5px;
}

.rm-rating-icons .image{
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.mouse-pointer{
  cursor: pointer;
}
