
.tea {
  margin-top: 14px !important;
}

.ttt {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #515151;
}

.ttt2 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.72px;
  color: #999999;
  opacity: 1;
}
